{% extends "base.html" %}
{% load static %}
{% block js %}
<script type="text/javascript">
var data = []
{% for milestone in goal.milestone_set.all %}
data.push({ 'rating': {{ milestone.value }}, 'name': '{{ milestone.name }}' })
{% endfor %}
</script>
<script type="text/javascript" src="{% static "js/graph.js" %}"></script>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!-- Title -->
<div class="bg-white shadow">
  <div class="container flex flex-wrap sm-flex-column justify-between items-center">
    <div class="flex items-center">
      <div class="row-title sm-py4">Goal</div>
    </div>
    <div class="flex sm-mb4">
      <div class="row-button">Create a goal</div>
    </div>
  </div>
</div>

<!-- Goals -->
<div class="mt2 container">
  <div class="p2 flex justify-between items-center">
    <div class="font-large text-grey italic">
      {{ goal.name }}
      <span class="row-date text-grey font-small ml2 sm-hide">
        Evaluated {{ goal.eval_date }}
      </span>
    </div>
    <div class="flex items-center">
      <a class="row-button secondary">Update</a>
      <a class="row-button ml2">Evaluate</a>
    </div>
  </div>
</div>

<div class="mt2 container">
  <div class="bg-white px4 pt4 pb2 sm-pb3 flex flex-column shadow">
    <div class="container">
        <svg viewport="0 0 200 200" id="graph" class="w100"></svg>
    </div>
  </div>
</div>

<!-- Milestone -->
<div class="mt4 container">
  <div class="p2 flex justify-between items-center">
    <div class="font-large text-grey italic">
      Sub Goals
    </div>
  </div>
</div>

<div class="container">
  {% for milestone in goal.milestone_set.all %}
  <div class="py1 mb1">

    <div class="container mb1">
      <div class="flex sm-flex-column justify-between items-center font-small text-grey letter-spacing-2">
        <span class="uppercase">
          {{milestone.name}}
        </span>
      </div>
    </div>

    <div class="bg-white border-full border-white border-grey-light-hover py2 mb2 shadow">
      <div class="container flex sm-flex-column justify-betweentext-black font-base">
        <span class="flex1 center-align">- {{milestone.low_evaluation}}</span>
        <span class="flex1 center-align">{{ milestone.value }}</span>
        <span class="flex1 center-align">+ {{milestone.high_evaluation}}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Actions -->
<div class="mt4 container">
  <div class="p2 flex justify-between items-center">
    <div class="font-large text-grey italic">
      My Action List
    </div>
  </div>
</div>

<div class="container">
  {% for milestone in goal.milestone_set.all %}
    {% if milestone.action_set.all.count > 0 %}
      <div class="py1 mb1">
        <div class="container mb1">
          <div class="flex sm-flex-column justify-between items-center font-small text-grey letter-spacing-2">
            <span class="uppercase">
              {{milestone.name}}
            </span>
          </div>
        </div>

        {% for action in milestone.action_set.all %}
          <div class="bg-white border-full border-white border-grey-light-hover py2 mb2 shadow">
            <div class="container flex items-center text-black font-base">
              <input type="checkbox"></input>
              <label class="ml2">{{action.name}}</label>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
    <div/>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
