{% extends "base.html" %}
{% load static %}
{% block js %}
<script type="text/javascript">
var data = []
{% for milestone in goal.milestone_set.all %}
data.push({ 'rating': {{ milestone.value}}, 'name': '{{ milestone.name }}' })
{% endfor %}
</script>
<script type="text/javascript" src="{% static "js/graph.js" %}"></script>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>{{ goal.name }}</h1>
<h2>{{ goal.user }}</h2>
<svg viewport="0 0 200 200" id="graph"></svg>

{% endblock %}
