/* Row
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
  min-height: $row-height;
  width: 100%;
  border-bottom: 1px solid $grey-light;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  select {
    @extend .mb0;
  }
}

.row-title {
  line-height: $row-height;
  font-size: $font-larger;
  color: $brand;

  span {
    line-height: 1.5;
  }
}

.row-avatar {
  width: 8rem;
  height: 8rem;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid $white;
  background-color: $white;
}

.row-label {
  @extend .flex1;
  @extend .font-small;
  @extend .uppercase;
  @extend .text-grey;
  @extend .letter-spacing-2;
}

.row-date {
  line-height: 1.5;
}

.row-tag-outline {
  @extend .button;
  @extend .button-outline;
  padding: 0.5rem 1rem;
  color: $grey;

  &:hover {
    color: $brand;
    border-color: $brand;
  }

  &.selected{
    color: $brand;
    cursor: default;
  }
}

.row-tag-category {
  padding: 0.5rem 1rem;
  color: $white;

  &.left {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &.right {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.row-button {
  @extend .button;
  padding: 0.5rem 1rem;

  &.secondary {
    background-color: $grey-xlight;
    border: 1px solid $grey-light;
    color: $grey-dark;

    &:hover {
      background-color: $brand;
      color: $white;
    }
  }
}

.row-category-squre {
  width: 6px;
  height: 6px;
}

.row-price {
  @media screen and (max-width: $tablet) {
    border-top: 1px dashed $grey-light;
  }
}
