svg {
  min-width: 200px;
  height: 200px;
}

line {
  stroke-width: 2;
  stroke: $brand-highlight;
}

text {
  stroke: $grey;
  font-size: $font-small;
  font-weight: 100;
}

polygon {
  fill: rgba($brand-highlight, 0.3);
}
