svg {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

line {
  stroke-width: 2;
  stroke: #333;
}

text {
  font-family: Helvetica;
  stroke: #aaa;
}

polygon {
  fill: #ccc;
}
