{% load static %}
{% load compress %}

<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">

      <title>Login | MDA - Mentoring</title>

      {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "styles/main.scss" %}" />
      {% endcompress %}
  </head>

  <body class="flex flex-column min-h100vh bg-devise devise">

    <div class="container max-w450px sm-max-w320px flex flex-column flex-auto items-center z-index-1">
      <div class="logo my6"></div>
      <div class=" flex flex-column w100">

        <div class="bg-white rounded p6">
          <form class="form-horizontal" name="LoginForm" action="" method="post">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password">
                </div>
            </div>

            <input type="submit" value="Sign in"></input>
          </form>
        </div>

        <div class="my6">
          <a href="/profiles/create">Sign up</a>
        </div>

      </div>
    </div>

  </body>
</html>
