{% extends "base_login.html" %}

{% block content %}
<div class=" flex flex-column w100">

  <div class="bg-white rounded p6">
    <form class="form-horizontal" name="LoginForm" action="" method="post">
      {% csrf_token %}
      <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
              <input type="text" id="username" name="username">
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
              <input type="password" name="password" id="password">
          </div>
      </div>

      <input type="submit" value="Sign in"></input>
    </form>
  </div>

  <div class="my6">
    <a href="/profiles/create">Sign up</a>
  </div>

</div>
{% endblock %}
