{% extends "base.html" %}

{% block content %}
<!-- Title -->
<div class="bg-white shadow">
  <div class="container flex flex-wrap sm-flex-column justify-between items-center">
    <div class="flex items-center">
      <div class="row-title sm-py4">My Mentee</div>
    </div>
    <div class="flex sm-mb4">
      <div class="row-button">Slack Message</div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="mt4 container">
  <div class="flex flex-column items-center mb2">
    <div class="row-avatar shadow"></div>
    <h3 class="mt4 text-grey-dark">Lennon Cheng</h2>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        Phone number
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        0421000000
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        Email
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        lennon@mda-mentoring.com.au
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        language
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        Chinese
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        Field
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        IT
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        Experience
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="bg-white border-bottom-solid border-grey-xlight py2 mb2 shadow container">
    <div class="flex sm-flex-column items-start sm-items-start">
      <div class="row-label">
        Qualification
      </div>
      <div class="flex4 sm-flex1 sm-mt1 sm-w100">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      </div>
    </div>
  </div>

</div>
{% endblock %}
