{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="map-wrapper">
    <div>
      <div id="map"></div>
    </div>
    <div class="list"></div>
  </div>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
  <script type="text/javascript" src="{% static "js/richmarker.js" %}"></script>
  <script type="text/javascript" src="{% static "js/events.js" %}"></script>
  <script type="text/javascript">
  var data = [];
  {% for o in object_list %}
    data.push({
      'name': '{{ o.name }}',
      'lng': Number('{{ o.longitude }}'),
      'lat': Number('{{ o.latitude }}'),
      'attendees': Number('{{ o.total_attendees }}')
    });
  {% endfor %}
  </script>
  <script type="text/javascript">
    window.navigator
  ? window.navigator.geolocation.getCurrentPosition(render)
   // default to Brisbane @ -27.4698,153.0251
  : render({ coords: { latitude: -27.4698, longitude: 153.0251 } });
  </script>
{% endblock %}
